<div class="d-flex flex-column align-items-center">
  <div
    class="d-flex justify-content-between align-items-center menu-certificado w-100"
  >
    <div class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>
    <app-secondary-button></app-secondary-button>
  </div>
  <div class="certificado d-flex justify-content-center align-items-center">
    <img
      src="certificate/certificate_ribbon.png"
      alt="Imagem da medalha"
      class="icon-medalha"
    />
    <div class="conteudo-certificado">
      <img src="certificate/certificate_signature.svg" alt="assinatura" class="img-assinatura"/>
      <div class="info-certificado d-flex flex-column align-items-center">
        <div class="titulo-subtitulo-certificado">
          <h1>CERTIFICADO DE CONCLUSÃO</h1>
          <p>Este certificado compora que</p>
        </div>
        <p class="nome-aluno">Gabriel Correia Santos</p>
        <div>
          <p class="lista-atividade-titulo">
            Concluiu com sucesso as seguintes atividades:
          </p>
          <p class="lista-atividade">
            Introdução ao Angular, Configuração com Angular CLI, Criação de
            componentes reutilizáveis, Criação de um projeto com o Angular CLI,
            Criação de um componente de página, Estrutura de um projeto Angular
            com o Angular CLI, Consumo de APIs RESTful, Criação de um formulário
          </p>
        </div>
      </div>
      <p class="data-emissao">Emitido em: 20 de maio de 2022</p>
    </div>
  </div>
</div>
